__pycache__
*.pyc
*.pyo

venv
.env

.git
.gitignore

data
logs

*.db
*.sqlite3

node_modules

*.mp4
*.avi
*.jpg
*.png

.cache
*.json
test_nvr_concurrency.py
test_run.py
test_detect.py
testv2.py
test_floor.py
benchmark_test.py